header{
    background-color: gray;/*este es el color de fondo*/
    border: 20px chartreuse;/**/
    width: 770px;
    height: 200px;
    margin: 5px;/**/
    border-radius: 10px;/*redondea los bordes*/
}

main{
    height: 780px;/*Altura*/
    width: 770px;/*Anchura*/
    background-color: chocolate;
    border-radius: 10px;
}

nav{
    height: 200px;
    width: 750px;
    background-color: green;
    margin: 10px;
    border-radius: 5px;
}